<section class="content-section bg-light">
  <h2 class="text-center">How to use</h2>
  <div class="container border" id=about-container>
  <div class="row">
    <div class="col-sm-6 text-center">
      <h4>Log Sessions</h4>
      <p>After each class, enter in information of the lesson such as teacher notes, payment, etc.</p>
    </div>
    <div class="col-sm-6 text-center">
      <h4>Keep Track of Students</h4>
      <p>Create a log book of all your students. Never forget their birthday again! You can also make notes about each student's strenghts and weaknesses.</p>
    </div>
  </div>
</div>
</section>