<h1>Dashboard</h1>

<div>
  <li>
    <ul><%= link_to "Class Reports", class_reports_path %></ul>
    <ul><%= link_to "Students", students_path %></ul>
    <ul><%= link_to "Earnings", earnings_path %></ul>
  </li>
</div>