<div class="jumbotron"  style="background-image: url(https://res.cloudinary.com/dd14wkl4h/image/upload/v1549197308/program-integrity-banner-background_ybrssx.jpg); background-size: 100%;">
  <h1 class="display-4 text-center">Welcome to TutorSidekick</h1>
  <p class="lead text-center">The app for independent tutors.</p>
  <hr class="my-4 text-center">
</div>