<div class="jumbotron"  style="background-image: url(https://www.solidbackgrounds.com/images/1920x1080/1920x1080-mint-solid-color-background.jpg); background-size: 100%;">
  <h1 class="display-4 text-center">Welcome to TutorSidekick</h1>
  <p class="lead text-center">The app for independent tutors.</p>
  <hr class="my-4 text-center">
</div>