<main id="home-body">
  <div class="jumbotron img-reponsive">
    <h1 class="display-3 text-center">Tutor Sidekick</h1>
  </div>
  <%= render 'landing' %>
  
<span style="font-size: 3em; color: Tomato;">
  <i class="fas fa-camera"></i>
</span>

<span style="font-size: 48px; color: Dodgerblue;">
  <i class="fas fa-camera"></i>
</span>

<span style="font-size: 3rem;">
  <span style="color: Mediumslateblue;">
  <i class="fas fa-camera"></i>
  </span>
</span>
  
</main>